<div class="container" ng-controller="groups">
  <div id="prof" class="col-md-2">
    <div class="row">
      <img src="./../images/profile.png" alt="photo" width=120 height=90>
      <br>
      <uname></uname>
      <br><br>
      <button type="button" onclick="createGroup()">Criar Grupo</button>
      <divng></divng>
    </div>
  </div>
  <div class="container">
    <div class="col-md-8">
      <ugroups class="col-md-8">Groups</ugroups>
      <br><br>
      <divgroup id="divGroups" class="col-md-10" class="row"></divgroup>
    </div>
  </div>
</div>