<div class="container" ng-controller="groups">
  <div id="prof" class="col-md-2">
    <div class="row">
      <img src="./../images/profile.png" alt="photo" width=120 height=90>
      <br>
      <uname></uname>
      <br><br>
      <button type="button" onclick="createGroup()">Criar Grupo</button>
      <divng></divng>
    </div>
  </div>

  <br><br>
  <div class="container">
    <div class="col-md-10">
      <ugroups class="col-md-10">Groups</ugroups>
      <br><br>
      <divgroup id="divGroups" class="col-md-10" class="row"></divgroup>
       <div class="panel panel-primary" ng-repeat="groups in print">
        <div class="panel-heading clearfix">
        <h4 class="pull-left">@{{groups.name}}</h4>
        <div class="pull-right">
          <buttonSee class="btn btn-info" ng-click="clickGroup(groups.relativeid)">Ver
              </buttonSee>       
        </div>
      </div>
    <div class="panel-body">Aqui vai a descrição do grupo.</div>
    </div>
  </div>
</div>