<script src="./../js/angular/search.js"></script>
<div class="container" ng-controller="search">
  <div>
    <div id="prof" class="col-md-2">
      <div class="row">
        <img src="./../images/profile.png" alt="photo" width=120 height=90>
        <br>
        <uname></uname>
        <br><br>
        <divng></divng>
      </div>
    </div>
    <div class="row">
      <br><br>
      <div class="col-md-8">
        <usearch class="col-md-8">Search</usearch>
        <br><br>
        <divsearch id="divSearch" class="col-md-10" class="row"></divsearch>
      </div>
    </div>
  </div>
</div>
