<script src="./../js/angular/search.js"></script>
<div class="container" ng-controller="search">
  <div>
    <div id="prof" class="col-md-2">
      <div class="row">
        <img src="./../images/profile.png" alt="photo" width=120 height=90>
        <br>
        <uname></uname>
        <br><br>
        <divng></divng>
      </div>
    </div>
    <div class="row">
      <br><br>
      <div class="col-md-8">
        <uposts class="col-md-8">Search</uposts>
        <br><br>
        <divsearch id="divSearch" class="col-md-10" class="row"></divsearch>
            <uposts class="col-md-8">Por Nome</uposts>
            <br><br>
            <ul>
                <li ng-repeat="user in perUserName">{{user.firstname}}
                   <button type="button" class="btn btn-default btn-lg btn-primary" ng-click = "clickSearchUser(user.id)">Ver!</button> 
                </li>
            </ul>
            <uposts class="col-md-8">Por Sobrenome</uposts>
            <br><br>
            <ul>
                <li ng-repeat="userl in perUserLastName">{{userl.lastname}}
                     <button type="button" class="btn btn-default btn-lg btn-primary" ng-click = "clickSearchUser(userl.id)">Ver!</button> 
                </li>
            </ul>
            <uposts class="col-md-8">Por Nick</uposts>
            <br><br>
            <ul>
                <li ng-repeat="usern in perUserNick">{{usern.nickname}}
                    <button type="button" class="btn btn-default btn-lg btn-primary" ng-click = "clickSearchUser(usern.id)">Ver!</button> 
                </li>
            </ul>
            <uposts class="col-md-8">Por Grupos</uposts>
            <br><br>
            <ul>
                <li ng-repeat="group in perGroup">{{group.name}}
                     <button type="button" class="btn btn-default btn-lg btn-primary" ng-click = "clickSearchGroup(group.relativeid)">Ver!</button> 
                </li>
            </ul>
      </div>
    </div>
  </div>
</div>
